@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

* {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  text-align: center;
}

body {
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.app {
  background-color: #343a40;
  width: 150%;
  min-height: 200px;
  margin-left: -20%;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px #cb186f;
  justify-content: space-evenly;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 12%;
  top: 0;
  left: 0;
}

.logo-header {
  height: 8%;
  width: 8%;
  align-content: flex-start;
}

.footer {
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  background-color: #6dcadf;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-text {
  margin-bottom: 12px;
  font-size: 3vh;
  color: #ffffff;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  justify-content: space-between;
  text-align: center;
  padding-right: 7%;
}

.nav-link {
  color: white;
}

.button {
  width: 100%;
  color: #ffffff;
  background-color: #252525;
  border-radius: 15px;
  display: flex;
  align-items: center;
  border: 2.5px solid #6dcadf;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  font-size: 2vh;
  text-decoration: none;
}

input {
  background-color: #252525;
  border-radius: 15px;
}

button:hover {
  background-color: #63687a;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.images {
  max-height: 10%;
}
