@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

* {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  text-align: center;
}

body {
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.app {
  background-color: #343a40;
  width: 150%;
  margin-left: -25%;
  height: min-content;
  border-radius: 15px;
  padding: 5%;
  box-shadow: 10px 10px 42px 0px #cb186f;
  justify-content: space-evenly;
}


.app {
  background-color: #343a40;
  width: 150%;
  min-height: 30%;
  margin-left: -25%;
  height: min-content;
  border-radius: 8px;
  padding: 5%;
  box-shadow: 10px 10px 42px 0px #cb186f;
  justify-content: space-evenly;
  margin-top: 10%;

}

.navbar {
  position: fixed;
  height: 11%;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 10%;
}

.logo-header {
  width: 8%;
}

.center {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.footer {
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  background-color: #6dcadf;
  font-size: 1.5vw;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-text {
  font-size: 3vh;
  color: #ffffff;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.nav-link {
  color: white;
}

a {
  color: #ffffff;
  text-decoration: none; 
}

a:hover {
  color: #ffffff;
}


.button {
  width: 85%;
  color: #ffffff;
  background-color: #252525;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: 1.25px solid #ff5400;
  cursor: pointer;
  text-align: center;
  padding: 3%;
  flex-direction: column;
  font-size: 2vh;
  text-decoration: none;
  margin: 3% auto;
}

input, textarea {
  background-color: #252525;
  border-radius: 8px;
  padding: 1%;
  margin: 1.25%;
  width: 50%;
}

button:hover {
  background-color: #63687a;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.images {
  height: 24vw;
  width: 100%;
}

/* I vertically aligned the text using code from here https://www.w3schools.com/howto/howto_css_center-vertical.asp */
.overlay {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}

